{% extends "base.html" %}
{% load static %}
{% block pageContent %}
   
    <div class="card text-white bg-info mb-3 mt-3 aboutCard">
        <img class="card-img-top cardImg" src="https://www.uvic.ca/brand/assets/images/graphics/misc/UVic-mark.jpg" alt="Card image cap">
        <h3 class="card-title"> 
           <strong> About</strong>
        </h3>
        <div class="card-body">
            <h6 style="color: white; font-size: 2rem"><!--class="card-subtitle mb-2 text-muted"-->
                The UVic 3D Printing Payment System
            </h6>
            <p style="color: white; padding: 20px; font-size: 1rem" class="card-text"> <!---->
                This project's goal is to improve the process of requesting a 3D printing job from  the 
                University of Victoria's Digital Scholarship Commons. We want to create a seamless 
                user experience from  start to finish. Just submit your request and let the software 
                do the rest!<br><br>
                <span style="font-weight:bold; font-size: 1.15rem">Instructions</span><br>
                In the navigation bar at the top of this webpage, click 'Create Job' 
                to submit a 3D printing job, or click 'View Jobs' to view the status of your print jobs.
            </p> 
            <footer style="color: white;" class="blockquote-footer">
                <small style="color: white; font-size: 0.85rem">
                    UVic 3DPS Developers: <cite title="Source Title">Ryan, Jose, Sahib</cite>
                </small>
            </footer>
        </div>
    </div>
{% endblock %}